
body {
    font-size: 9pt;
    font-weight: bold;
    font-family: sans-serif;
    max-width: 360px;
    margin-left: calc(50vw - 180px);
    background-color: rgba(15,109,57,0.9);
    cursor:crosshair;
}
ul {
    list-style-type: none;
    padding: 0;
}
i.fa.fa-dot-circle-o.list-group-item{
    padding: 0.1pt 3pt;;
    margin: 0;
}
.list-group-item{
    padding: .65rem .25rem;
    background-color: transparent;
    border: none;
}
.btn{
    padding: 0;
    line-height: normal;
}
.main-header{
    height: 36px;
    background-color: rgba(0, 200, 0, 0.8);
    color: whitesmoke;
    position: fixed;
    z-index: 15;
}
.header-element{
    padding: 0 2px;
}
.header-title {
    text-shadow: 2px 2px 3px black;
}
.messages-box{
    max-height: 30px;
    overflow: hidden;
}
.desk{
    text-shadow: 1px 1px #212529;
    padding-bottom: 50px;
}
.hint-button{
    padding: 0px 8px;
    float: right;
    color: #d7bd17;
    font-size: 2rem;
}
.history-box{
    max-width: 34px;
    padding: 1px;
    border-radius: 10px;
    border: 4px solid black;
    background-color: green;
    margin: 12px 4px;
    max-height: 240px;
    min-height: 240px;
    position: absolute;
    top: 38px;
}
.history-box li {
    font-size: 120%;
}
li.black {
    text-align: right;
    color: black;
    text-shadow: 1px 1px 2px #ffffee80;
}
li.red {
    text-align: left;
    color: red;
}
.felt-box{
    max-width: 200px;
    min-height: 460px;
    padding:0;
}
.main-space{
    padding-top: 36px;
    background-color: #0f6d39;
    color: #ffffee
}
.main-right{
    min-width: 113px;
    padding:5px;
}
.main-left{
    max-width: 44px;
    padding: 0;
}
.players-box{
    max-height:113px;
    padding: 2px
}
.bonus-box{
    min-height:80px;
    max-height:80px;
    min-width:80px;
    max-width:80px;
}
.betting-box{
    font-size: 14px;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2px
}
.box{
    /*border: 1px dashed yellow;*/
    /*border-radius: 10px;*/
}
.rotate {
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/*smaller than 360px*/
@media screen and (max-width: 359px){
    .main-left{
        display: none;
    }
    .main-right{
        min-width: 113px;
        padding:0;
    }
}

#layout td{
    border: 1px solid #ffe9c4;
    text-align: center;
    font-size: 11pt;
    min-width: 28pt;
    max-width: 28pt;
    height: 24pt;
    z-index: 1;
    position: relative;
    text-shadow: none;
    font-family: lucida grande,lucida sans,Helvetica,Arial,Tahoma,Verdana,sans-serif;

}

#layout td.highlight{
    background-color: #ded44dc4;
}

td.rotate {
    transform: rotate(-90deg);
}

td.red:before,
td.black:before,
td.green:before {
    content: ' \2B24';
    line-height: 0;
    font-family: lucida grande,lucida sans,Helvetica,Arial,Tahoma,Verdana,sans-serif;
    position: absolute;
    font-size: 19pt;
    top: 10.5pt;
    left: calc(50% - 11pt);
    z-index: -1;
}
td.red:before {
    color: darkred;
}
td.black:before {
    color: black;
}
td.green:before {
    color: darkgreen;
}

/*div {*/
    /*margin: -1px;*/
    /*border: 1px dashed yellow;*/
    /*border-radius: 10px;*/
/*}*/

@document url("http://http://localhost:63342") {
  .selector {
     color:lime;
      background-color: red;
  }
}


